<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- required -->
	<import resource="context/context-root.xml"/>
	<import resource="context/context-db.xml"/>

	<!-- optional -->
	<import resource="context/context-cache.xml"/>
<!-- 	<import resource="context/context-schedule.xml"/> -->
</beans>