
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468920298'); /* IE9*/
  src: url('iconfont.eot?t=1468920298#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468920298') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468920298') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468920298#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yonghu-copy:before { content: "\e610"; }
.icon-icon-yxj-user:before { content: "\e631"; }
.icon-icon2:before { content: "\e62a"; }
.icon-2kaitongzhanghuquyu:before { content: "\e98f"; }
.icon-liulan-copy:before { content: "\e663"; }
.icon-tongji:before { content: "\e66f"; }
.icon-yitiji:before { content: "\e632"; }
.icon-xitong:before { content: "\e627"; }
.icon-zhichayonghuzengjiayonghu:before { content: "\e633"; }
.icon-xiugai:before { content: "\e62a"; }
.icon-shanchu:before { content: "\e71f"; }
.icon-wenjianjia:before { content: "\e622"; }
.icon-wenjianjia1:before { content: "\e632"; }
.icon-wenjianjia2:before { content: "\e66e"; }
.icon-file-copy:before { content: "\e626"; }
.icon-hanburg:before { content: "\e601"; }
.icon-fangdajing:before { content: "\e603"; }
.icon-jichushuju:before { content: "\e641"; }
.icon-xiaotuliebiao:before { content: "\e660"; }
.icon-guanbi:before { content: "\e67a"; }
.icon-duihao:before { content: "\e70c"; }
.icon-diannao:before { content: "\e605"; }
.icon-diannao1:before { content: "\e693"; }
.icon-liulan:before { content: "\e6da"; }
.icon-chakan01:before { content: "\e666"; }
.icon-lishicaozuoliebiao:before { content: "\e620"; }
.icon-rili:before { content: "\e607"; }
.icon-rili1:before { content: "\e611"; }
.icon-liulanlishi:before { content: "\e646"; }
.icon-wenjianliebiao:before { content: "\e67a"; }
.icon-shuju:before { content: "\e6bd"; }
.icon-tongjishuju:before { content: "\e605"; }
.icon-right:before { content: "\e602"; }
.icon-sanjiao:before { content: "\e62b"; }
.icon-sanjiao1:before { content: "\e649"; }
.icon-ico-center:before { content: "\e600"; }
.icon-lajitong:before { content: "\e615"; }
.icon-edit-copy:before { content: "\e669"; }
